body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(65, 62, 62);
}
header{
    overflow: hidden;
    background-color: darkgray;
    height: 250px;
}
h1{
    color: white;
}
#drop-list{
    
    position: absolute;
    left: 90%;
    border-radius: 20px;
}
.text-input{
    width: 400px;
    position: relative;
    float: right;
    font-size: 25px;
    color: rgb(15, 13, 13);
    font-family: 'Courier New', Courier, monospace;
}
.pop-books{
    padding-top:30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;

}
.popular-books{
    margin-top: 20px;
    height:200px;
    background-color: rgb(128, 141, 150);
    text-align: center;
}
#catig-list{
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
}
.add-books-container{
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.books-add{ 
    font-size: x-large;
    
}
.books-add input{ 
    font-size: x-large;
    border-radius: 5px;
    background-color: rgb(227, 239, 243);
}
.add-btn{
    font-size: x-large;
    border: none;
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    transition-duration: 1s ;
}
.add-btn:hover{
    cursor: pointer;
    
    background-color: aquamarine;
}
